<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.school.jakub.trainingplanmaker">

    <application
        android:name=".controller.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controller.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.bagpack.BackpackActivity" />
        <activity
            android:name=".controller.bagpack.BackpackEditActivity"
            android:label="@string/title_activity_backpack_edit"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".controller.bagpack.BackpackChecklistActivity"
            android:label="@string/title_activity_backpack__checklist"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".controller.measurement.ProfileMeasurementActivity"
            android:label="@string/title_activity_profile_measurement"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".controller.utils.CalendarActivity"
            android:label="@string/title_activity_backpack_edit"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".controller.atlas.AtlasActivity"
            android:label="@string/title_activity_atlas"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".controller.trainingPlan.TrainingPlans"
            android:label="@string/title_activity_training_plans"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".controller.trainingPlan.TrainingPlanEditActivity"
            android:label="@string/title_activity_training_plan_edit"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>